*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    max-width: 100%;
    /* background-color: green; */
}

.container{
    padding: 2rem 5rem;
}

.hidden{
    display: none;
}
/* 
section{
    max-width: 200rem;
    background-color: red;
    margin: 0;
} */